<p>recommendationform works!</p>
<p>farmers works!</p>
<main id="main" class="main">
    <section class="section dashboard"><br>

        
    <h2 *ngIf="farmer">Recommendations {{ farmer.name }}</h2>
    
    <!-- <button  class="btn btn-outline-danger text-capitalize mx-4 btn-sm mt-2">Add </button> -->
    <div>
      <button (click)="OpenPop()" mat-raised-button color="primary">Recommendations</button>
    </div>

    <span></span>

    <div class="col-12  mt-5">
        <div class="card recent-sales overflow-auto">
  
          <div class="card-body">
            <h5 class="card-title">Recommendations</h5>
       
            <table class="table table-borderless datatable">
            
                <tr>
                  <!-- <th scope="col">Action</th> -->
                  <th scope="col">id</th>
                  <th scope="col">rdate</th>
                  <th scope="col">farmersid</th>
                  <th scope="col">cropsid</th>
                  <th scope="col">adminid</th>
                  <th scope="col">message</th>
              
                 
                </tr>
           
        
                <tr *ngFor="let admin of admins;let i=index">
                    <!-- <td><button class="btn btn-outline-danger primary" (click)="delete(admin.id)">delete</button> -->
                    <!-- <button class="btn btn-outline-primary" (click)="edit(admin.id)">edit</button></td> -->
                    <td scope="row">{{i+1}}</td>
                    <td>{{admin.rdate}}</td>
                    <td>{{admin.farmersid}}</td>
                    <td>{{admin.cropsid}}</td>
                    <td>{{admin.adminid}}</td>
                    <td>{{admin.message}}</td>
                    <td></td>
                  
                </tr>
            
       
            </table>
        
          </div>
      </div>
     </div>
    </section>

</main><!-- End #main -->
