<main id="main" class="main">

    <div class="pagetitle">
        <h1>Admins</h1>

<div class="col-lg">
    <section class="section dashboard">
        <div class="row">
         <div class="card"> 
            <div class="card-body">
                <h5 class="card-title">Admins</h5>

    <div class="card">
      <div class="card-body">
        <!-- <h5 class="card-title">Vertical Form</h5> -->
       
        <!-- Vertical Form -->
        <form class="row g-3" [formGroup]="formdata" (ngSubmit)="save(formdata.value)">
          <div class="col-12">
            <label for="inputNanme4" class="form-label"> Name</label>
            <!-- <span *ngif="formdata.controls.name.touched && formdata.controls.name.invalid" -->
            <!-- class="text-danger small">please Enter name </span> -->
            <input type="text" formControlName="name"class="form-control" id="">
          </div>
          <div class="col-12">
            <label for="" class="form-label">Username</label>
            <!-- <span *ngif="formdata.controls.Username.touched && formdata.controls.name.Username" -->
            <!-- class="text-danger small">please Enter Username ></span> -->
          <input type="text" formControlName="username"class="form-control" id="">
          </div>
          <div class="col-12">
            <label for="inputPassword4" class="form-label">Password</label>
            <!-- <span *ngif="formdata.controls.Password.touched && formdata.controls.name.Password" -->
            <!-- class="text-danger small">please Enter Password ></span> -->
            <input type="password" formControlName="password"class="form-control" id="inputPassword">
           
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary" >save</button>
            <button type="reset" class="btn btn-secondary">Reset</button>
          </div>
        </form>
        </div>
    </div>  
    </div>
    </div>
    </div>
    </section>
    <hr>
    <div class="col-12  mt-5">
        <div class="card recent-sales overflow-auto">

          <div class="card-body">
            <h5 class="card-title">Admins </h5>
        

            <table class="table table-borderless datatable">
            
                <tr>
                  <th scope="col">Action</th>
                  <th scope="col">No</th>
                  <th scope="col">Name</th>
                  <th scope="col">Username</th>
                  <th scope="col">Password</th>
                </tr>
           
        
                <tr *ngFor="let admin of admin;let i=index">
                    <td><button class="btn btn-outline-danger primary" (click)="delete(admin.id)">delete</button>
                    <button class="btn btn-outline-primary" (click)="edit(admin.id)">edit</button></td>
                    <td scope="row">{{i+1}}</td>
                    <td>{{admin.name}}</td>
                    <td>{{admin.username}}</td>
                    <td>{{admin.password}}</td>

                </tr>
            
       
            </table>
        
          </div>
      </div>
     </div>
     </div>
    
      </div><!-- End Recent Sales -->
</main>



